---
import Button from "@atoms/buttons/index.astro";
import Circular from "./circular.astro";
import InfiniteCarousel from "./infiniteCarousel.astro";
import "./style.css";
---

<section class="h-screen min-h-[45rem] relative">
  <video
    class="h-full min-h-[40rem] w-full object-cover absolute -z-10"
    src="/video/hero-section-intro.mp4"
    autoplay
    muted
    loop></video>
  <div
    class="hero-section black-gradient h-screen min-h-[45rem] flex flex-col justify-center items-center"
  >
    <div class="flex justify-center items-center contain">
      <div class="flex-1">
        <h4 class="h1 font-bold leading-tight text-white">
          AI and tech fascinate us. Horticulture
          <span class="text-yellow"> drives that fascination.</span>
        </h4>
        <h5 class="h5 text-white opacity-90 mt-4 max-w-screen-sm">
          Fasal is a one-stop end-to-end agriculture value chain solutions
          provider. We eradicate complex horticulture problems with AI, IoT, and
          data analytics-backed solutions.
        </h5>
        <h5 class="h5 text-white opacity-90 mt-4">
          We help India grow more, grow better fruits and vegetables.
        </h5>
        <div class="flex md:gap-6 gap-2 mt-8">
          <Button
            type="button"
            label="LET'S CONNECT"
            callback={() => {}}
            text="LET'S CONNECT"
            key="lets-connect"
            classes="md:p-3 p-1 px-4"
          />
          <img
            class="md:h-full h-10"
            src="/icons/certified-partners-icons.svg"
          />
        </div>
      </div>
      <div class="flex-1 md:block hidden">
        <Circular />
      </div>
    </div>
    <div class="contain mt-24 absolute bottom-8 left-0 right-0">
      <h5 class="text-white text-[12px]">
        Trusted by <span class="text-yellow font-medium">100</span> of progressive
        companies
      </h5>

      <div class="w-full mt-4">
        <InfiniteCarousel />
      </div>
    </div>
  </div>
</section>
