---
import "./style.css";
---

<div class="slider overflow-hidden">
  <div class="slide-track relative">
    <div class="slider overflow-hidden">
      <div class="slide-track flex relative">
        <div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div><div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div>
        <div class="slide h-10 opacity-30 hover:opacity-100 duration-300">
          <img
            class="h-full w-full object-contain"
            src="/icons/partners-logo.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
