.view-one {
}
.buttons {
  position: relative;
  overflow: hidden;
}

.buttons::after {
  bottom: 0;
  left: 0;
  opacity: 0;
  color: white;
  height: 100%;
  display: block;
  transition: 0.5s;
  position: absolute;
  content: attr(data-back);
  transform: translateY(100%) rotateX(0deg);
  padding-right: 42px;
  background-color: #00613C;
  z-index: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}

.buttons:hover::after {
  opacity: 1;
  transform: translateY(0%) rotateX(0deg);
}

.buttons::before {
  top: 0;
  left: 0;
  opacity: 1;
  height: 100%;
  color: #fff;
  display: block;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  padding-bottom: 5px;
  transform: translateY(0%) rotateX(0);
  display:flex;
  justify-content: center;
  align-items: center;
}
.buttons:hover::before {
  opacity: 1;
  transform: translateY(-100%) rotateX(90deg);
}
