.view-one {
}
.buttons {
  position: relative;
}

.buttons::after {
  top: 0;
  left: 0;
  opacity: 1;
  width: 80%;
  color: white;
  display: block;
  padding: 8px 30px;
  transition: 0.5s;
  position: absolute;
  content: attr(data-back);
  transform: translateY(0%) rotateX(0deg);
}

.buttons::before {
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  color: #fff;
  display: block;
  padding: 0 30px;
  transition: 0.5s;
  position: relative;
  content: attr(data-front);
  transform: translateY(-50%) rotateX(0);
}

.buttons:hover::after {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.buttons:hover::before {
  opacity: 1;
  transform: translateY(0%) rotateX(0deg);
}
