---
import HeadTileAtom from "@atoms/headTileAtom/index.astro";
import Circle from "./circle.astro";
import "./style.css";
---

<div
  class="fasal-circular-wrapper md:h-screen md:min-h-fit min-h-[45rem] gradient blade-padding relative overflow-hidden"
>
  <div class="contain panel-wrapper relative">
    <div id="content-panel1" class="content-panel">
      <HeadTileAtom
        label="1"
        theme="light"
        title_1="A "
        title_2="Fresh"
        title_3=" take on the procurement business"
        des="No middlemen, no quality lapses, no pricing compromises. Fasal Fresh overhauls the repeating long-standing challenges of procurement professionals and farmers alike. From best-quality farm fresh fruits and vegetables to better-than-market rates, Fasal Fresh does a lot."
        li1="Demand-specific sourcing."
        li2="Regular availability of sorted, graded, and packed produce."
        li3="Advanced stock planning."
      />
    </div>
    <div id="content-panel2" class="content-panel">
      <HeadTileAtom
        label="-2"
        theme="light"
        title_1="A "
        title_2="tech-driven"
        title_3="take on horticulture farming"
        des="No guesswork, no late measures, no hefty losses. The outcome? Increased yields with minimised farming inputs for farmers. Fasal Tech brings AI and data-driven precision to horticulture farming. It provides highly reliable horticulture advisory on smartphones in major Indian languages."
        li1="Advance irrigation alerts"
        li2="Pest and disease forewarnings and advisory"
        li3="14-day hyperlocal weather forecast"
      />
    </div>
    <div id="content-panel3" class="content-panel">
      <HeadTileAtom
        label="---3"
        theme="light"
        title_1="Lorem "
        title_2="ipsum"
        title_3="Connect"
        des=" Ricing compromises. Fasal Fresh overhauls the repeating long-standing challenges of procurement professionals and farmers alike. From best-quality farm fresh fruits and vegetables to better-than-market rates, Fasal Fresh does a lot."
        li1="Advance irrigation alerts"
        li2="Pest and disease forewarnings and advisory"
        li3="14-day hyperlocal weather forecast"
      />
    </div>
  </div>

  <div class="h-full md:block hidden w-[40%] absolute top-0 right-0">
    <div
      class="absolute flex items-center w-[100%] top-0 bottom-0 md:-right-[50%]"
    >
      <div
        class="w-full relative max-h-[48rem] pt-3 pr-[9%] fasal-circular-svg"
      >
        <!-- <img class="w-full " src="/home/fasal-circle.svg" /> -->
        <Circle />
      </div>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".fasal-circular-wrapper",
      start: "top top",
      end: "200%",
      scrub: 1,
      pin: true,
      snap: "labelsDirectional",
    },
  });

  tl.addLabel("first")
    .to("#content-panel1", { opacity: 1, y: 0, zIndex: 9 }, "first")
    .to(".fasal-circular-svg", { rotate: "0deg" }, "first")

    .addLabel("second")
    .to(["#connect", "#tech", "#fresh"], { rotate: "-120deg" }, "second")
    .to(".fasal-center-circle", { rotate: "-120deg" }, "second")
    .to(".fasal-circular-svg", { rotate: "120deg" }, "second")
    .to("#content-panel1", { opacity: 0, y: -300, zIndex: 0 }, "second")
    .to("#content-panel2", { opacity: 1, y: 0, zIndex: 9 }, "second")

    .addLabel("third")
    .to(["#connect", "#tech", "#fresh"], { rotate: "-245deg" }, "third")
    .to("#content-panel2", { opacity: 0, y: -300, zIndex: 0 }, "third")
    .to(".fasal-center-circle", { rotate: "-245deg" }, "third")
    .to(".fasal-circular-svg", { rotate: "245deg" }, "third")
    .to("#content-panel3", { opacity: 1, y: 0, zIndex: 9 }, "third")
    .addLabel("fourth")
    .to(".fasal-circular-svg", { rotate: "245deg" }, "fourth");
</script>
