---
import HeadTileAtom from "@atoms/headTileAtom/index.astro";
import MobileView from "./mobileView.astro";
import DesktopView from "./desktopView.astro";
import Circle from "./circle.astro";
import "./style.css";
---

<section>
  <div class="md:block hidden">
    <DesktopView />
  </div>
  <div class="md:hidden block gradient">
    <MobileView />
  </div>
</section>

<!-- <script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".fasal-circular-wrapper",
      start: "top top",
      end: "200%",
      scrub: 1,
      pin: true,
      snap: "labelsDirectional",
    },
  });

  tl.addLabel("first")
    .to("#content-panel1", { opacity: 1, y: 0, zIndex: 9 }, "first")
    .to(".fasal-circular-svg", { rotate: "0deg" }, "first")

    .addLabel("second")
    .to(["#connect", "#tech", "#fresh"], { rotate: "-120deg" }, "second")
    .to(".fasal-center-circle", { rotate: "-120deg" }, "second")
    .to(".fasal-circular-svg", { rotate: "120deg" }, "second")
    .to("#content-panel1", { opacity: 0, y: -300, zIndex: 0 }, "second")
    .to("#content-panel2", { opacity: 1, y: 0, zIndex: 9 }, "second")

    .addLabel("third")
    .to(["#connect", "#tech", "#fresh"], { rotate: "-245deg" }, "third")
    .to("#content-panel2", { opacity: 0, y: -300, zIndex: 0 }, "third")
    .to(".fasal-center-circle", { rotate: "-245deg" }, "third")
    .to(".fasal-circular-svg", { rotate: "245deg" }, "third")
    .to("#content-panel3", { opacity: 1, y: 0, zIndex: 9 }, "third")
    .addLabel("fourth")
    .to(".fasal-circular-svg", { rotate: "245deg" }, "fourth");
</script> -->
