---
import HeadAtom from "@atoms/headAtom/index.astro";
import Map from "./map.astro";
import "./style.css";
---

<section class="blade-padding fasal-horticulture">
  <div class="contain">
    <HeadAtom
      label="INDIA's MAP"
      title_1="Plotting"
      title_2="precision horticulture"
      title_3=" on India’s map."
      des="Fasal is pioneering the precision horticulture movement. One that is backed by solid data analytics and artificial intelligence to strengthen the farm-to-cart network inside out."
      classes="max-w-xl"
    />
    <div class="w-full md:pl-[20%] md:-mt-[14%]">
      <img
        class="w-full h-full"
        src="/home/map.svg"
        alt="map showing the locations on the indian map"
      />

      <!-- <Map /> -->
    </div>
  </div>
</section>
