---
import Layout from '@layouts/Layout.astro';
---

<Layout
  title="Impact Report | Fasal - Grow More, Grow Better"
  desc="Fasal- Grow More, Grow Better"
>
  <div class="bg-red-50 text-5xl h-96 grid place-content-center">
    Impact Report
  </div>
</Layout>
