<div class="py-20">
  <h1 class="text-4xl font-bold text-center px-10">Index of all pages</h1>
  <ul class="px-10 max-w-sm mx-auto pt-10">
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="about"
      >
        about</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="blogs"
      >
        blogs</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="brochures"
      >
        brochures</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="case-study"
      >
        case-study</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="contact"
      >
        contact</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="fasal-in-news"
      >
        fasal-in-news</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="impact-report"
      >
        impact-report</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="/"
      >
        index</a
      >
    </li>
    <li>
      <a
        class="text-xl underline underline-offset-4 hover:text-red-500 leading-loose"
        href="success-stories"
      >
        success-stories</a
      >
    </li>
  </ul>
</div>
