---
import HeadAtom from "@atoms/headAtom/index.astro";
import Slider from "@molecules/Slider/index.astro";
import SliderCards from "@atoms/sliderCards/index.astro";
import "./style.css";

const FasalImpactData = [
  {
    title_1: "Advanced ",
    title_2: "irrigation alerts system",
    stats: "11 bn",
    des: " litres of water saved",
  },
  {
    title_1: "Mirco-climatic ",
    title_2: "forecast",
    stats: "Up to 40%",
    des: " increase in yield",
  },
  {
    title_1: "Pest and disease ",
    title_2: "forewarnings and advisory",
    stats: "Up to 60%",
    des: "cut in crop health inputs",
  },
  {
    title_1: "60,000+  ",
    title_2: "acres of farms’ database",
    // stats: "60+ acres",
    // des: "asdadasd adasdas s da das das",
  },
  {
    title_1: "Indian farmers",
    // title_2: "asdasd adasd",
    stats: "2,000+",
    // des: "asdadasd adasdas s da das das",
  },
];
---

<section class="blade-padding min-h-[40rem] relative">
  <div class="contain">
    <HeadAtom
      classes="max-w-2xl pr-10"
      label="FASAL IMPACT"
      title_1="The  "
      title_2=" Fasal "
      title_3="  impact"
      des="Tackling the challenges plaguing the Indian agri value chain one step at a time."
    />
  </div>
  <Slider data={FasalImpactData} />
</section>
