---
import SliderCards from "@atoms/sliderCards/index.astro";
const { data } = Astro.props;
---

<div class="mt-24">
  <div class="flex gap-4 justify-end contain static">
    <button
      class="swiper-button-prev static p-4 rotate-180 bg-green rounded-full h-16 w-16 text-white hover:bg-black transition"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29.568"
        height="11.955"
        viewBox="0 0 29.568 11.955"
      >
        <path
          id="Icon_open-arrow-right"
          data-name="Icon open-arrow-right"
          d="M5.394,0V5.11H-17V6.829H5.394v5.127l7.173-6.049Z"
          transform="translate(17)"
          fill="#fff"></path>
      </svg>
    </button>
    <button
      class="swiper-button-next static p-4 bg-black rounded-full h-16 w-16 text-white hover:bg-green transition"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="29.568"
        height="11.955"
        viewBox="0 0 29.568 11.955"
      >
        <path
          id="Icon_open-arrow-right"
          data-name="Icon open-arrow-right"
          d="M5.394,0V5.11H-17V6.829H5.394v5.127l7.173-6.049Z"
          transform="translate(17)"
          fill="#fff"></path>
      </svg>
    </button>
  </div>
  <div
    class="flex md:pl-[8%] pl-[4%] pr-[2%] mt-10 swiper-container overflow-hidden"
  >
    <div class="swiper-wrapper">
      {
        data.map((items, ind) => {
          const { title_1, title_2, des, stats } = items;
          return (
            <div class="swiper-slide">
              <SliderCards
                light={ind % 2 === 0 ? true : false}
                title_1={title_1}
                title_2={title_2}
                des={des}
                stats={stats}
              />
            </div>
          );
        })
      }
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  import Swiper, { Navigation, Autoplay, Pagination, Mousewheel } from "swiper";

  var swiper = new Swiper(".swiper-container", {
    pagination: {
      el: ".swiper-pagination",
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    autoplay: true,
    modules: [Navigation, Pagination, Autoplay, Mousewheel],
    slidesPerView: 1,
    speed: 700,
    grabCursor: true,
    freeMode: true,
    breakpoints: {
      320: {
        slidesPerView: 1,
      },
      480: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 2,
      },
      1560: {
        slidesPerView: 3.5,
      },
    },
  });
</script>
