---
import FasalCircle from "./fasalCircle/index.astro";
import HeroSection from "./heroSection/index.astro";
import FasalVideo from "./fasalVideo/index.astro";
import FasalHorticulture from "./fasalHorticulture/index.astro";
import FasalImpact from "./fasalImpact/index.astro";
---

<section>
  <HeroSection />
  <FasalCircle />
  <FasalImpact />
  <FasalVideo />
  <FasalHorticulture />
</section>
