---
import "./style.css";
---

<section class="">
  <div
    class="menu-screen overflow-hidden h-screen min-h-[45rem] translate-x-full opacity-0 gradient fixed top-0 right-0 transition-all duration-500"
  >
    <div class="w-[100vw] d h-full md:flex">
      <div class="flex justify-center items-center w-full">
        <div class="flex-1 md:pl-[8%]">
          <div class="md:grid hidden grid-cols-2 gap-14">
            <ul class="">
              <span class="text-white opacity-40 underline underline-offset-4">
                FASAL FOR BUSINESSES
              </span>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
            </ul>
            <ul class="">
              <span class="text-white opacity-40 underline underline-offset-4">
                COMPANY
              </span>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
            </ul>
            <ul class="">
              <span class="text-white opacity-40 underline underline-offset-4">
                FASAL FOR FARMERS
              </span>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
            </ul>
            <ul class="">
              <span class="text-white opacity-40 underline underline-offset-4">
                RESOURCES
              </span>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
              <li class="mt-4">
                <a class="h5 link" href=""> Fasal fresh</a>
              </li>
            </ul>
          </div>

          {/* // mobile accordian */}
          <div class="md:hidden block mt-24">
            <div class="mobile-menu flex flex-col p-2">
              <button
                class="for-business flex justify-between text-white text-left py-2"
              >
                For Business
                <span
                  class="for-business-arrow transition duration-200 px-2 h-5"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"
                    class="w-full h-full"
                    fill="#fff"
                  >
                    <path
                      d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                    ></path>
                  </svg>
                </span>
              </button>
              <div
                class="business-panel panel h-0 overflow-hidden text-left text-white"
              >
                <a>Fasal Fresh</a>
                <a>Fasal Fresh</a>
                <a>Fasal Fresh</a>
              </div>
              <button
                class="for-farmers flex justify-between text-white text-left py-2"
              >
                For Farmers
                <span
                  class="for-farmers-arrow transition duration-200 px-2 h-5"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 320 512"
                    class="w-full h-full"
                    fill="#fff"
                  >
                    <path
                      d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
                    ></path>
                  </svg>
                </span>
              </button>
              <div
                class="farmers-panel panel h-0 overflow-hidden text-left text-white"
              >
                <a>Fasal Fresh</a>
                <a>Fasal Fresh</a>
                <a>Fasal Fresh</a>
              </div>

              <div>
                <a class="py-2">About fasal</a>
                <a class="py-2">Success Stories</a>
                <a class="py-2">Contact us</a>
              </div>
            </div>
          </div>
          <div class="w-full absolute bottom-10 md:block hidden">
            <div class="flex gap-4">
              <a
                href=""
                class="border rounded-full opacity-70 hover:opacity-100 transition-all duration-200 p-2"
              >
                <svg
                  class="h-6 w-6 fill-white"
                  name="Facebook"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 320 512"
                  fill="black"
                >
                  <path
                    d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"
                  ></path>
                </svg>
              </a>
              <a
                href=""
                class="border rounded-full opacity-70 hover:opacity-100 transition-all duration-200 p-2"
              >
                <svg
                  class="h-6 w-6 fill-white"
                  name="Youtube"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 576 512"
                >
                  <path
                    d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z"
                  ></path>
                </svg>
              </a>
              <a
                href=""
                class="border rounded-full opacity-70 hover:opacity-100 transition-all duration-200 p-2"
              >
                <svg
                  class="h-6 w-6 fill-white"
                  name="Twitter"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 512 512"
                >
                  <path
                    d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"
                  ></path>
                </svg>
              </a>
              <a
                href=""
                class="border rounded-full opacity-70 hover:opacity-100 transition-all duration-200 p-2"
              >
                <svg
                  class="h-6 w-6 fill-white"
                  name="Linkedin"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 448 512"
                >
                  <path
                    d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z"
                  ></path>
                </svg>
              </a>
            </div>
            <h6 class="text-white mt-2">
              © 2021 Wolkus Technology Solutions Private Limited
            </h6>
          </div>
        </div>
        <div class="flex-1 min-w-[50%] md:block hidden">
          <div class="h-full">
            <img
              class="w-full h-full object-cover object-center"
              alt="field"
              src="https://images.unsplash.com/photo-1523741543316-beb7fc7023d8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="absolute top-0 md:right-[8%] right-[2%] md:pt-8 pt-4">
      <button class="closeMenuBtn text-4xl md:text-green text-white">
        <svg
          class="absolute right-0 cursor-pointer"
          stroke="currentColor"
          fill="none"
          strokeWidth="0"
          viewBox="0 0 15 15"
          height="1em"
          width="1em"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fillRule="evenodd"
            clipRule="evenodd"
            d="M11.7816 4.03157C12.0062 3.80702 12.0062 3.44295 11.7816 3.2184C11.5571 2.99385 11.193 2.99385 10.9685 3.2184L7.50005 6.68682L4.03164 3.2184C3.80708 2.99385 3.44301 2.99385 3.21846 3.2184C2.99391 3.44295 2.99391 3.80702 3.21846 4.03157L6.68688 7.49999L3.21846 10.9684C2.99391 11.193 2.99391 11.557 3.21846 11.7816C3.44301 12.0061 3.80708 12.0061 4.03164 11.7816L7.50005 8.31316L10.9685 11.7816C11.193 12.0061 11.5571 12.0061 11.7816 11.7816C12.0062 11.557 12.0062 11.193 11.7816 10.9684L8.31322 7.49999L11.7816 4.03157Z"
            fill="currentColor"></path>
        </svg>
      </button>
    </div>
  </div>
</section>
